function double 0
	// x * 2, no local variables needed, it expect 1 argument
	push argument 0
	push argument 0
	add
	return

function Sys.init 1
    /* 
    entry point of all functions, like main function
    first set argument[0] = 3
    */
    push constant 3 // this becomes the argument for double
    call double 1 // double takes 1 argument, this informs stack
    // stack[-1] = 6
    pop local 0
    return
